@media only screen and (max-device-width: 480px) {
    body {
        text-align: center;
        margin: 0%;
        padding: 0%;
    }

    @import "./utils/variables";
    @import "./utils/functions";
    @import "./utils/mixins";
    @import "./utils/extensions";
    @import "./base/base";
    @import "./base/typography";
    @import "./components/buttons";
    @import "./layouts/header";
    @import "./layouts/nav";
    @import "./layouts/container";
    @import "./layouts/form";
    @import "./pages/work";
    @import "./pages/about";
    @import "./pages/project";
}