body {
  text-align: center;
  margin: 0%;
  padding: 0%;
  background-color: #eaeaea;
}

@keyframes bgopacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes carte__text--size {
  0% {
    width: 50rem;
  }
  100% {
    width: 38rem;
  }
}
body {
  font-family: "Roboto";
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1em;
  }
}
@media screen and (max-device-width: 480px) {
  body {
    font-size: 2.6rem;
  }
}

h1 {
  font-family: "shrikhand";
}

h2 {
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.5em;
  }
}
@media screen and (max-device-width: 480px) {
  h2 {
    font-size: 4rem;
  }
}

h4 {
  color: black;
}

p {
  font-weight: 200;
}

a {
  text-decoration: none;
}

span {
  font-weight: bold;
}

.container {
  animation: index 1000ms 1550ms both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0%;
  width: 100%;
}
.container__resto1 {
  background-image: url(../pics/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  animation: bgopacity 500ms ease-in-out;
}
.container__resto2 {
  background-image: url(../pics/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  animation: bgopacity 500ms ease-in-out;
}
.container__resto3 {
  background-image: url(../pics/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  animation: bgopacity 500ms ease-in-out;
}
.container__resto4 {
  background-image: url(../pics/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  animation: bgopacity 500ms ease-in-out;
}

@keyframes load_anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes index {
  0% {
    transform: translateX(-9999px);
    opacity: 0;
  }
  1% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeload {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  section {
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  section {
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
}
.loader {
  position: absolute;
  z-index: -1;
  justify-self: center;
  align-content: center;
  width: 100%;
  height: 100%;
  animation: fadeload 1500ms ease-in-out both;
}
.loader__ring--ext {
  position: relative;
  width: 30rem;
  height: 30rem;
  left: calc(50% - 15rem);
  top: calc(50% - 10rem);
  animation: load_anim 1250ms 150ms linear both infinite;
}
.loader__ring--int {
  position: relative;
  width: 25rem;
  left: calc(50% - 12.5rem);
  top: calc(50% - 38rem);
  animation: load_anim 1250ms 150ms linear both infinite;
  animation-direction: reverse;
}

.header__backpage {
  width: 4.5rem;
  margin-left: -23rem;
}

#local {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0%;
  width: 100%;
  height: fit-content;
}
@media screen and (min-width: 768px) {
  #local__ico {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1em;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  #local__ico {
    width: 1em;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  #local__ico {
    width: 1em;
  }
}
@media screen and (min-width: 768px) and (max-device-width: 480px) {
  #local__ico {
    width: 3rem;
  }
}
@media screen and (min-width: 768px) {
  #local__ico--marker {
    width: 1em;
  }
}
@media screen and (min-width: 768px) {
  #local__txt {
    font-size: 1em;
    font-weight: bold;
  }
}
@media screen and (min-width: 1024px) {
  #local__ico {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1em;
  }
}
@media screen and (min-width: 1024px) and (min-width: 768px) {
  #local__ico {
    width: 1em;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  #local__ico {
    width: 1em;
  }
}
@media screen and (min-width: 1024px) and (max-device-width: 480px) {
  #local__ico {
    width: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  #local__ico--marker {
    width: 1em;
  }
}
@media screen and (min-width: 1024px) {
  #local__txt {
    font-size: 1em;
    font-weight: bold;
  }
}
@media screen and (max-device-width: 480px) {
  #local__ico {
    display: flex;
    flex-wrap: wrap;
    margin-right: 3rem;
  }
}
@media screen and (max-device-width: 480px) and (min-width: 768px) {
  #local__ico {
    width: 1em;
  }
}
@media screen and (max-device-width: 480px) and (min-width: 1024px) {
  #local__ico {
    width: 1em;
  }
}
@media screen and (max-device-width: 480px) and (max-device-width: 480px) {
  #local__ico {
    width: 3rem;
  }
}
@media screen and (max-device-width: 480px) {
  #local__ico--marker {
    width: 2rem;
  }
}
@media screen and (max-device-width: 480px) {
  #local__txt {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

#discover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0%;
  width: 100%;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  #discover__content {
    padding-top: 1em;
    height: 16em;
    width: 75%;
  }
  #discover__content-data {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  #discover__content {
    padding-top: 1em;
    padding-bottom: 2em;
    height: 11em;
    width: 75%;
  }
  #discover__content--data {
    width: 100%;
  }
}
@media screen and (max-device-width: 480px) {
  #discover__content {
    padding-top: 6rem;
    padding-bottom: 12rem;
    height: 33rem;
  }
  #discover__content--data {
    margin: auto;
    width: 100%;
  }
}

#fonct {
  text-align: left;
  background-color: white;
  height: fit-content;
}
#fonct h2 {
  padding-left: 5%;
}
@media screen and (min-width: 768px) {
  #fonct {
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 4em;
  }
}
@media screen and (min-width: 1024px) {
  #fonct {
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 2em;
    width: 100%;
  }
}
@media screen and (max-device-width: 480px) {
  #fonct {
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

#restaurants {
  text-align: left;
}
#restaurants h2 {
  padding-left: 5%;
}
@media screen and (min-width: 768px) {
  #restaurants {
    flex-direction: row;
    padding-top: 1em;
    width: 100%;
  }
  #restaurants__list {
    margin-top: 4em;
  }
}
@media screen and (min-width: 1024px) {
  #restaurants {
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 2em;
    width: 100%;
  }
  #restaurants__list {
    margin-top: 5em;
  }
}
@media screen and (max-device-width: 480px) {
  #restaurants {
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
  }
}

@keyframes carteup {
  0% {
    transform: translateY(8rem);
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
.carte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0%;
  width: 100%;
  margin-top: 30rem;
  border-radius: 10rem 10rem 0 0;
  text-align: left;
  background-color: #f6f6f6;
  animation: carteup 800ms ease-in-out;
}
.carte__menu {
  width: 100%;
  margin: 0%;
  padding-bottom: 3rem;
  text-align: left;
  font-size: 2.5rem;
}
.carte__menu h2 {
  padding-left: 5%;
}
.carte__title {
  padding-left: 2.5rem;
}
.carte__title--underline {
  height: 0.5rem;
  width: 6rem;
  margin-top: -1.5rem;
  margin-bottom: 2.5rem;
  background-color: #99E2D0;
}
.carte__order {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

@keyframes btncarteup {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes btn__base--bgcolor {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0%;
  width: 100%;
  height: 3rem;
  border-radius: 4rem;
  font-weight: bold;
}
.btn__txt {
  width: 80%;
  align-self: center;
  text-align: center;
  font-weight: 400;
}
.btn__txt--white {
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .btn__txt {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__txt {
    font-size: 1em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__txt {
    font-size: 2.5rem;
  }
}
.btn__base {
  box-shadow: 0em 0em 0.9em #c8c8c8;
  color: black;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .btn__base {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 23em;
    height: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__base {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 18em;
    height: 5em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__base {
    margin: 2.5rem auto 0;
    padding-left: 2rem;
    width: 55rem;
    height: 12rem;
  }
}
.btn__base:hover .btn__base--ico {
  opacity: 0;
}
.btn__base:hover .btn__base--bg {
  opacity: 1;
}
.btn__base:hover .btn__base--icoalt {
  opacity: 1;
  z-index: 1;
}
.btn__base--bg {
  border-radius: 4rem;
  background-color: #f2eafb;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease-in-out;
}
.btn__base--ico {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  transition: opacity 700ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .btn__base--ico {
    width: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__base--ico {
    width: 1em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__base--ico {
    width: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .btn__base--ico {
    margin-right: -1em;
    padding-left: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__base--ico {
    margin-right: 0em;
    padding-left: 1em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__base--ico {
    margin-right: -3rem;
    padding-left: 4rem;
  }
}
.btn__base--icoalt {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .btn__base--icoalt {
    width: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__base--icoalt {
    width: 1em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__base--icoalt {
    width: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .btn__base--icoalt {
    margin: 4.39em 0 0 5.5em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__base--icoalt {
    margin: 0 0 0 2.35em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__base--icoalt {
    margin: 4.39rem 0 0 5.5rem;
  }
}
.btn__base--mobile {
  width: 2rem;
}
.btn__carte--1 {
  box-shadow: 0em 0em 0.9em #c8c8c8;
  color: black;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 3rem;
  overflow: hidden;
  animation: btncarteup 2s ease-in-out both;
  animation-delay: 100ms;
}
@media screen and (min-width: 768px) {
  .btn__carte--1 {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 23em;
    height: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__carte--1 {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 18em;
    height: 5em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__carte--1 {
    margin: 2.5rem auto 0;
    padding-left: 2rem;
    width: 55rem;
    height: 12rem;
  }
}
.btn__carte--1:hover > .btn__carte--valid {
  transform: translateX(-10rem);
}
.btn__carte--1:hover > .btn__carte--valid .valid {
  transform: rotateZ(-360deg);
}
.btn__carte--1:hover > .btn__carte--txt {
  animation: carte__text--size 500ms 50ms ease-in-out both;
}
.btn__carte--2 {
  box-shadow: 0em 0em 0.9em #c8c8c8;
  color: black;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 3rem;
  overflow: hidden;
  animation: btncarteup 2s ease-in-out both;
  animation-delay: 400ms;
}
@media screen and (min-width: 768px) {
  .btn__carte--2 {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 23em;
    height: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__carte--2 {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 18em;
    height: 5em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__carte--2 {
    margin: 2.5rem auto 0;
    padding-left: 2rem;
    width: 55rem;
    height: 12rem;
  }
}
.btn__carte--2:hover > .btn__carte--valid {
  transform: translateX(-10rem);
}
.btn__carte--2:hover > .btn__carte--valid .valid {
  transform: rotateZ(-360deg);
}
.btn__carte--2:hover > .btn__carte--txt {
  animation: carte__text--size 500ms 50ms ease-in-out both;
}
.btn__carte--3 {
  box-shadow: 0em 0em 0.9em #c8c8c8;
  color: black;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 3rem;
  overflow: hidden;
  animation: btncarteup 2s ease-in-out both;
  animation-delay: 700ms;
}
@media screen and (min-width: 768px) {
  .btn__carte--3 {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 23em;
    height: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__carte--3 {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 18em;
    height: 5em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__carte--3 {
    margin: 2.5rem auto 0;
    padding-left: 2rem;
    width: 55rem;
    height: 12rem;
  }
}
.btn__carte--3:hover > .btn__carte--valid {
  transform: translateX(-10rem);
}
.btn__carte--3:hover > .btn__carte--valid .valid {
  transform: rotateZ(-360deg);
}
.btn__carte--3:hover > .btn__carte--txt {
  animation: carte__text--size 500ms 50ms ease-in-out both;
}
.btn__carte--4 {
  box-shadow: 0em 0em 0.9em #c8c8c8;
  color: black;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 3rem;
  overflow: hidden;
  animation: btncarteup 2s ease-in-out both;
  animation-delay: 1200ms;
}
@media screen and (min-width: 768px) {
  .btn__carte--4 {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 23em;
    height: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__carte--4 {
    margin: 1.5em auto 0;
    padding-left: 2em;
    width: 18em;
    height: 5em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__carte--4 {
    margin: 2.5rem auto 0;
    padding-left: 2rem;
    width: 55rem;
    height: 12rem;
  }
}
.btn__carte--4:hover > .btn__carte--valid {
  transform: translateX(-10rem);
}
.btn__carte--4:hover > .btn__carte--valid .valid {
  transform: rotateZ(-360deg);
}
.btn__carte--4:hover > .btn__carte--txt {
  animation: carte__text--size 500ms 50ms ease-in-out both;
}
.btn__alt {
  margin: auto;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
  width: fit-content;
  background: linear-gradient(-369deg, #9356DC, #FF79DA);
  color: white;
  font-weight: 500;
}
.btn__alt--txt {
  display: flex;
  flex-direction: column;
  width: 95%;
  overflow: hidden;
  align-self: center;
  width: fit-content;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .btn__alt {
    height: 4.1em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__alt {
    height: 4.1em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__alt {
    height: 8.2rem;
  }
}
.btn__sticker {
  text-align: center;
  align-self: center;
  border-radius: 2rem;
  background-color: #9356DC;
  color: white;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .btn__sticker {
    margin-left: -7em;
    height: 2.5em;
    width: 2.5em;
  }
  .btn__sticker--txt {
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow: hidden;
    padding-top: 0.65em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__sticker {
    margin-left: -5em;
    height: 2em;
    width: 2em;
  }
  .btn__sticker--txt {
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow: hidden;
    padding-top: 0.5em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__sticker {
    margin-left: -11rem;
    height: 4rem;
    width: 4rem;
  }
  .btn__sticker--txt {
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow: hidden;
    padding-top: 0.3rem;
  }
}

.btn__carte--cont {
  display: flex;
  flex-direction: row;
}

.btn__carte--txt {
  height: 100%;
  width: 50rem;
}
.btn__carte--txt h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  margin-top: 2.5rem;
}
.btn__carte--txt p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  margin-top: -2.3rem;
  font-size: 2.3rem;
}

.btn__carte--price {
  position: relative;
  margin: 7rem 0 0 2rem;
  left: calc(1% - 1.5rem);
  width: 5rem;
  height: 100%;
}
.btn__carte--price span {
  align-self: end;
}

.btn__carte--valid {
  position: absolute;
  margin-left: 1rem;
  width: 10rem;
  height: 100%;
  background-color: #99E2D0;
  right: calc(50% - 39rem);
  transform: translateX(11.1rem);
  transform-origin: right;
  transition: transform 500ms ease-in-out;
}
.btn__carte--valid .valid {
  position: absolute;
  left: calc(50% - 2rem);
  top: calc(50% - 2rem);
  width: 3.5rem;
  height: 3.5rem;
  transform: rotateZ(-225deg);
  transition: transform 300ms 300ms ease-in-out;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0%;
  width: 100%;
  margin: auto;
  background-color: white;
  width: 90%;
  height: 15em;
  border-radius: 1.2em;
  box-shadow: 0em 0em 0.9em #c8c8c8;
}
@media screen and (min-width: 768px) {
  .tile {
    margin-bottom: 3.5em;
    width: 47%;
    height: 13em;
  }
}
@media screen and (min-width: 1024px) {
  .tile {
    margin-bottom: 6.5em;
    width: 20em;
    height: 11em;
  }
}
@media screen and (max-device-width: 480px) {
  .tile {
    margin-bottom: 3rem;
    width: 90%;
    height: 15em;
  }
}
.tile__new {
  position: relative;
  text-align: center;
  background-color: #99E2D0;
  color: #2c9c81;
}
@media screen and (min-width: 768px) {
  .tile__new {
    border-radius: 0.2em;
    right: calc(0% - 5em);
    top: calc(-11% - 0rem);
    width: 6em;
    height: 2em;
  }
  .tile__new span {
    margin: 1.5em auto auto auto;
  }
}
@media screen and (min-width: 1024px) {
  .tile__new {
    border-radius: 0.2em;
    right: calc(0% - 6.7em);
    top: calc(-20% - 0em);
    width: 5em;
    height: 2.2em;
  }
  .tile__new span {
    margin: 1.5em auto auto auto;
  }
}
@media screen and (max-device-width: 480px) {
  .tile__new {
    border-radius: 0.5rem;
    right: calc(0% - 17rem);
    top: calc(7% - 0rem);
    width: 16rem;
    height: 6rem;
  }
  .tile__new span {
    margin: 1.5rem auto auto auto;
  }
}
.tile__pic {
  background-size: cover;
  margin-top: -6rem;
  border-radius: 1em 1em 0em 0em;
  width: 100%;
  height: 72%;
  background-position-y: 0px;
}
.tile__heart--e {
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .tile__heart--e {
    width: 2em;
    height: 2em;
    margin: 2.5em 1em 0 0;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .tile__heart--e {
    width: 2em;
    height: 2em;
    margin: 1.5em 1em 0 0;
    position: relative;
  }
}
@media screen and (max-device-width: 480px) {
  .tile__heart--e {
    width: 4rem;
    height: 4rem;
    margin: 3rem 5rem 0 0;
    position: relative;
  }
}
.tile__heart--e:hover .tile__heart--e {
  opacity: 0;
  z-index: -1;
}
.tile__heart--e:hover .tile__heart--f {
  opacity: 1;
  z-index: 1;
}
.tile__heart--f {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease-in-out;
}

.btn__tile--info {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .btn__tile--info {
    margin: 0 1.5em 0 1.5em;
  }
  .btn__tile--info h4 {
    margin-top: 0.5em;
    font-size: 1.3em;
  }
  .btn__tile--info p {
    color: black;
    margin-top: -1.3em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  .btn__tile--info {
    margin: 0 0.7em 0 0.7em;
  }
  .btn__tile--info h4 {
    margin-top: 0.5em;
    font-size: 1.05em;
  }
  .btn__tile--info p {
    color: black;
    margin-top: -1.3em;
    font-size: 1em;
  }
}
@media screen and (max-device-width: 480px) {
  .btn__tile--info {
    margin: 0 1.5rem 0 1.5rem;
  }
  .btn__tile--info h4 {
    font-size: 3.5rem;
  }
  .btn__tile--info p {
    color: black;
    margin-top: -4.7rem;
    font-size: 3rem;
  }
}

header {
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: white;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.9);
}
@media screen and (min-width: 768px) {
  header {
    height: 5em;
  }
  header a .header__logo {
    height: 2.3em;
  }
}
@media screen and (min-width: 1024px) {
  header {
    height: 5em;
  }
  header a .header__logo {
    height: 2.5em;
  }
}
@media screen and (max-device-width: 480px) {
  header {
    height: 11rem;
  }
  header a .header__logo {
    height: 5rem;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0%;
  width: 100%;
  justify-content: left;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #353535;
}
footer nav {
  text-align: left;
}
footer nav .nav__ico {
  display: flex;
  flex-wrap: wrap;
  width: 2rem;
  padding-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  footer nav .nav__ico {
    width: 1em;
  }
}
@media screen and (min-width: 1024px) {
  footer nav .nav__ico {
    width: 1em;
  }
}
@media screen and (max-device-width: 480px) {
  footer nav .nav__ico {
    width: 3rem;
  }
}
footer nav ul li {
  list-style-type: none;
}
footer nav ul li a {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */
