body {
    font-family: 'Roboto';
    font-size: 2.6rem;
}

h1 {
    font-family: 'shrikhand';
}

h2 {
    font-size: 4rem;
    font-weight: 900;
}

h4 {
    color: black;
}

p {
    font-weight: 200;
}

a {
    text-decoration: none;
}
 span {
     font-weight: bold;
 }