body {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: lighter;
}

h1 {
    font-family: 'shrikhand';
}

h2 {
    font-size: 4rem;
    font-weight: 900;
}

a {
    text-decoration: none;
}