@mixin mobile {
    @media screen and (max-device-width: map-get($breakpoints, mobile)){
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}


@mixin block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
    width: 100%;
}

@mixin ico {
    display: flex;
    flex-wrap: wrap;
    @include tablet {
        width: 1em;
    }
    @include desktop {    
        width: 1em;
    }
    @include mobile {    
        width: 3rem;
    }
}

@mixin btn_base {
    box-shadow: 0em 0em 0.9em rgba(200, 200, 200, 30);
    color: black;
    @include tablet {
        margin: 1.5em auto 0;
        padding-left: 2em;
        width: 23em;
        height: 5em;    
    }
    @include desktop {
        margin: 1.5em auto 0;
        padding-left: 2em;
        width: 18em;
        height: 5em;    
    }
    @include mobile {    
        margin: 2.5rem auto 0;
        padding-left: 2rem;
        width: 55rem;
        height: 12rem;
    }
}

@mixin justify_left {
    text-align: left;
    h2 {
        padding-left: 5%;
    }
}

@mixin btn__txt {
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow: hidden;
}

@mixin backgrounddsp {
    @include tablet {
        background-size: 105%;
    }
    @include desktop {
        background-size: 100%;
    }
    @include mobile {
        background-size: 125%;
    }
    background-repeat: no-repeat;
    animation: bgopacity 500ms ease-in-out;
}
@keyframes bgopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin btn__carte {
    @include tablet {
        border-radius: .6em;
        margin: .5em .3em 0 0;
        padding-left: .5em;
        width: 13em;
        height: 2.7em;    
    }
    @include desktop {
        border-radius: .7em;
        margin: .5em auto .05em auto;
        padding-left: .3em;
        width: 12em;
        height: 2.4em;    
    }
    @include mobile {
        border-radius: 3rem;
        margin: 2.5rem 0 .5em 0;
        padding-left: 2rem;
        width: 56rem;
        height: 12rem;
    }
    display: flex;
    flex-direction: row;
    background-color: $btn__base--color;
    overflow: hidden;
    animation: btncarteup 2s ease-in-out both;
    @include btn__carte--validanim;
}

@include tablet {
    @keyframes carte__text--size {
        0% {width: 22em;}
        100% {width: 8em;}
    }
}
@include desktop {
    @keyframes carte__text--size {
        0% {width: 50em;}
        100% {width: 14em;}
    }
}
@include mobile {
    @keyframes carte__text--size {
        0% {width: 50rem;}
        100% {width: 38rem;}
    }
}

@mixin btn__carte--txt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: auto;
}

@mixin btn__carte__validanim {
    &:hover {
        & > .btn__carte--valid {
            transform: translateX(-10rem);
            @include desktop {
                transform: translateX(-4.4em);
            }
            .valid {
                transform: rotateZ(-360deg);
            }
        }

        & > .btn__carte--txt {
            animation: carte__text--size 500ms ease-in-out both;
        }
    }
}

@mixin bloc_txt {
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
}

@mixin icotransition{
    @include ico;
    @include base__transition;
}

@mixin base__transition{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms ease-in-out;
}