@mixin block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
    width: 100%;
}

@mixin ico {
    display: flex;
    flex-wrap: wrap;
    width: 3rem;
}

@mixin btn_base {
    margin: 2.5rem auto 0;
    padding-left: 2rem;
    width: 55rem;
    height: 12rem;
    box-shadow: 0em 0em 0.9em rgba(200, 200, 200, 30);
    color: black;
}

@mixin justify_left {
    text-align: left;
    h2 {
        padding-left: 5%;
    }
}

@mixin btn__txt {
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow: hidden;
}

@mixin backgrounddsp {
    background-size: 125%;
    background-repeat: no-repeat;
    animation: bgopacity 500ms ease-in-out;
}
@keyframes bgopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin btn__carte {
    @include btn_base;
    display: flex;
    flex-direction: row;
    background-color: $btn__base--color;
    border-radius: 3rem;
    overflow: hidden;
    animation: btncarteup 2s ease-in-out both;
    @include btn__carte--validanim;
}

@keyframes carte__txt--size {
    0% {width: 100%;}
    100% {width: 80;}
}
@mixin btn__carte--txt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: auto;
}

@mixin btn__carte__validanim {
    &:hover {
        & > .btn__carte--valid, .btn__carte--price {
            transform: translateX(-10rem);
            .valid {
                transform: rotateZ(-360deg);
            }
        }
        & > .btn__carte--txt {
            animation: carte__txt--size 500ms ease-in-out both;
            h4, p {
                animation: carte__txt--size 500ms ease-in-out both;
            }
        }
    }
}

@mixin bloc_txt {
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
}