.container {
    @include block;
    &__resto1 {
        background-image: url(../pics/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        @include backgrounddsp;
    }
    &__resto2 {
        background-image: url(../pics/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        @include backgrounddsp;
    }
    &__resto3 {
        background-image: url(../pics/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        @include backgrounddsp;
    }
    &__resto4 {
        background-image: url(../pics/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        @include backgrounddsp;
    }
}

#local {
    @include block;
    height: fit-content;
    &__txt {
        font-size: 2.5rem;
        font-weight: bold;
    }
}

#discover {
    @include block;
    padding-top: 6rem;
    padding-bottom: 12rem;
    height: 33rem;
    background-color: $discover-color;
    &__data {
        width: 75%;
    }
}

#fonct {
    @include justify_left;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white;
    height: fit-content;
}

#restaurants {
    @include justify_left;
}

/* .bckgrnd {
    @include block;
    height: 50rem;
    background-size: cover;
} */

@keyframes carteup {
    0% {
        transform: translateY(8rem);
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

.carte {
    @include block;
    margin-top: 30rem;
    border-radius: 10rem 10rem 0 0;
    text-align: left;
    background-color: $discover-color;
    animation: carteup 800ms ease-in-out;
    &__menu {
        width: 100%;
        margin: 0%;
        padding-bottom: 3rem;
        @include justify_left;
        font-size: 2.5rem;
    }
    &__title {
        padding-left: 2.5rem;    
        &--underline {
            height: 0.5rem;
            width: 6rem;
            margin-top: -1.5rem;
            margin-bottom: 2.5rem;
            background-color: $color-third;
        }
    }
    &__order {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
}