#local {
    @include block;
    height: fit-content;
    &__txt {
        font-size: 2.5rem;
        font-weight: bold;
    }
}

#discover {
    @include block;
    padding-top: 6rem;
    padding-bottom: 12rem;
    height: 33rem;
    background-color: $discover-color;
    &__data {
        width: 75%;
    }
}

#fonct {
    @include block;
    text-align: left;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white;
    height: fit-content;
}

.bckgrnd {
    @include block;
    height: auto;
    background-size: cover;
}