.container {
    animation: index 1000ms $index__del both;
    @include block;
    &__resto1 {
        background-image: url(../pics/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        @include backgrounddsp;
    }
    &__resto2 {
        background-image: url(../pics/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        @include backgrounddsp;
    }
    &__resto3 {
        background-image: url(../pics/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        @include backgrounddsp;
    }
    &__resto4 {
        background-image: url(../pics/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        @include backgrounddsp;
    }
}

@keyframes load_ext {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}
@keyframes load_int {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes index {
    0% {
        transform: translateX(-9999px);
        opacity: 0;
    }  
    1% {
        transform: translateX(0);
        opacity: 0;
    }  
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeload {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loader {
    position: absolute;
    z-index: 1;
    justify-self: center;
    align-content: center;
    width: 100%;
    height: 100%;
    animation: fadeload 1500ms ease-in-out both;
    &__ring--ext {
        position: relative;
        width: 30rem;
        height: 30rem;
        left: calc(50% - 15rem);
        top: calc(50% - 10rem);
        animation: load_ext $load__ring--anim;
    }
    &__ring--int {
        position: relative;
        width: 25rem;
        left: calc(50% - 12.5rem);
        top: calc(50% - 38rem);
        animation: load_int $load__ring--anim;
    }
}

.header__backpage {
    width: 4.5rem;
    margin-left: -23rem;
}

#local {
    @include block;
    height: fit-content;
    &__ico {
        @include ico;
        margin-right: 3rem;
        &--marker {
            width: 2rem;
        }
    }
    &__txt {
        font-size: 2.5rem;
        font-weight: bold;
    }
}

#discover {
    @include block;
    padding-top: 6rem;
    padding-bottom: 12rem;
    height: 33rem;
    background-color: $discover-color;
    &__data {
        width: 75%;
    }
}

#fonct {
    @include justify_left;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white;
    height: fit-content;
}

#restaurants {
    @include justify_left;
}

/* .bckgrnd {
    @include block;
    height: 50rem;
    background-size: cover;
} */

@keyframes carteup {
    0% {
        transform: translateY(8rem);
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

.carte {
    @include block;
    margin-top: 30rem;
    border-radius: 10rem 10rem 0 0;
    text-align: left;
    background-color: $discover-color;
    animation: carteup 800ms ease-in-out;
    &__menu {
        width: 100%;
        margin: 0%;
        padding-bottom: 3rem;
        @include justify_left;
        font-size: 2.5rem;
    }
    &__title {
        padding-left: 2.5rem;    
        &--underline {
            height: 0.5rem;
            width: 6rem;
            margin-top: -1.5rem;
            margin-bottom: 2.5rem;
            background-color: $color-third;
        }
    }
    &__order {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
}