header {
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: $btn__base--color;
    box-shadow: 0rem 0rem 1rem rgba($color: #000000, $alpha: 0.9);
    @include tablet {
        height: 5em;
        & a .header__logo {
            height: 2.3em;
        }    
    }
    @include desktop {
        height: 6em;
        & a .header__logo {
            height: 3.5em;
        }    
    }
    @include mobile {
        height: 11rem;
        & a .header__logo {
            height: 5rem;
        }    
    }
}

