footer {
    @include block;
    justify-content: left;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $color-footer;
    nav {
        text-align: left;
        .nav__ico {
            @include ico;
            width: 2rem;
            padding-right: 1.5rem;
        }
        ul li {
            display: flex;
            margin-top: 1rem;
            margin-bottom: 1rem;
            list-style-type: none;       
            color: $btn__base--color;
        }
    }
}